  GNU nano 7.2                                     skillmap.service *                                            
[Unit]
Description=skillmap

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/www/skill-map-app/main

[Install]
WantedBy=multi-user.target